*{
    padding: 0px;
    margin: 0px;
    font-family:'Lora', serif;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.4)), url('/pexels-julius-silver-753626.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    margin-top: 35px;
    margin-right: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding:5px 20px;
    border: 1px solid white;
    transition:0.7s;
    border-radius: 10px;
}
ul li a:hover{
    color:black;
    background-color:white;
}
.logo img{
    position:absolute;
}
.title{
    position: absolute;
    top: 36%;
    left:21%;
    
}
.title h1{
    color:#2ef487;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 51%;
    left:39%;
}
.btn{
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 12px 30px;
    text-decoration: none;
}
.btn:hover{
    color:yellowgreen;
    background-color:transparent;
}